* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgray;
}
.container {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: white;
    display: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
  

}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainTitle {
    color: orange;
    border: 5px solid gray;
    border-right: none;
    border-width: 7%;
    margin-right: 5px;
    
}

.mainTitle2 {
    color: gray;
}

.menu {
    background-color: lightskyblue;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    padding: 10px;
    
}

#unordered1 {
    list-style-type: none;
}

a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color: lightcoral;
}
img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    
} 
.content {
    position: absolute;
    margin-top: 400px;
    color: white;
    font-size: 30px;
}


button {
    display: flex;
    background-color: rgb(31, 31, 243);
    position: absolute;
    margin-top: 610px;
    border-radius: 40px;
    color: white;
    padding: 10px 30px;
    border-style: hidden;
}

section img {
    width: 10%;
}

.third {
   text-align: center;
   font-size: 40px;
}
h3, h4 {
    color: rgb(71, 190, 230);
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 20px;
}

h5, h6 {
    font-size: 40px;
    text-align: center;
}

article {
    display: flex;
    justify-content: left;
    margin-left: 50px; 
}

.article2 {
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unordered2 {
    list-style-type: none;
    color: gray;
    display: block;
    
}

.unordered2 img {
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    
}

#first, #second {
    margin-bottom: 30px;
}

.img {
    width: 80%;
}

.items {
    margin-left: 90px;
}


.border {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 2px;
    width: 130px;
    border-top: 1px solid black;
}

.square {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    transform: rotate(50deg);
    margin: 0 10px;
}

.review {
    background-color: lightskyblue;
    width: 80%;
    margin-top: 30px;
    color: white;
    padding: 10px;
}

.reviewer img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    padding: 3px;
    float: left;
}

.name {
    color: black;
}
.stars {
    color: white;
    display: flex;
    align-items: left;
    margin-top: 7px;
    list-style-type: none;
    padding-inline-start: 10px;
    
}

.review2, .review3 {
    margin-top: 10px;
    background-color: lightskyblue;
    width: 80%;
    color: white;
    padding: 10px;
}

.subtitle2, .subtitle3 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.phone, .email {
    width: 20px;
    height: 20px;
}

.box {
    display: grid;
    width: 100%;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr;

     
}

.box1 {
    background-color: mediumseagreen;
    align-items: center;
}

h3 {
    margin-top: 40px;
    color: white;
    text-align: center;
}

.box1 img {
    width: 20px;
    height: 20px;
    margin-left: 90px;
    
}

.box1 p {
    color: white;
    text-align: center;
}

.icons {
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}


.box2 {
    background-color: rgb(239, 72, 180);
    display: flex;
    flex-wrap: wrap;
}

.box2 h3 {
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-left: 160px; 
}

.box2 img {
    width: 20px;
    height: 20px;
    padding: none;
    margin-top: -30px;
}

.icons1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.box3 {
    background-color: rgb(68, 68, 238);
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    color: white;
    font-size: 25px;

}

.box4 {
    background-color: lightblue;
}

.house {
    width: 350px;
    height: 330px;
    display: grid;
    align-items: center;
    justify-items: center;

}

.iframe {
    width: 100%;
}

.submit {
    width: 25%;
    background-color: orange;
    color: white;
    border: 0;
    height: 50px;
    margin-right:70%;
}

footer {
    display: flex;
    background-color:black;
    width: 100%;
    justify-content: space-around;
    height: 200px;
    margin-top: 60px;
    flex-wrap: wrap;
}

footer a {
    color: white;
}

footer li {
    list-style-type: none;
    flex-grow: 2;
}

footer ul {
    display: flex;
    width: 90%;
    margin-top: 50px; 
    text-align: center;
    flex-wrap: wrap;
    
}

input {
    height: 60px;
    width: 98%;
}

.theEnd {
    display: flex;
    color: white;
    width: 100%;
    text-align: center;
    
    
}

footer img {
    width: 13px;
    height: 13px;
    margin-top: 2px;
    margin-right: 1%;
    margin-left: 15%;
}

footer a {
    text-decoration: none;
}

