.container {
    background-color: red;
    width: 960px;
    height: 30px;
    text-align: right;
}

.nav li {
    display: inline-block;
    font-size: 18px;
    padding: 6px;
    color: white;   
}